.landing {
  background-color: #d7ebd3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fjalla One";
}

.content {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7vw;
  padding-right: 7vw;
}

.calendar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.statistics {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .content {
    width: 90vw;
  }
  .statistics {
    justify-content: center;
  }
  .logsRow {
    flex-direction: column;
    align-items: center;
  }
}
