.navbar {
    display: flex;
    position: absolute;
    padding: 1vh 2vh 2vh 2vh;
    top: 1vh;
    right: 3vh;
}

.nav {
    height: 3.3vh;
    width: 3vh;
    margin: 3vh;
    text-decoration: none;
}

.navbar img{
    height: 3.3vh;
    width: auto;
    
}