.navbar-comb {
    display: flex;
    align-content: stretch;
}

/* .navbar-left-container {
    align-self: left;
}
.navbar-right-container {
    align-self: right;
} */

/* .navbar-left-container,
.navbar-right-container {
    display: inline-block;
} */