.navbar {
    display: flex;
    position: fixed;
    padding: 2vh 2vh 2vh 2vh;
    top: 2vh;
    right: 3vh;
    background-color: white;

}

.nav {
    background-color: white;
    height: 3.3vh;
    width: 3vh;
    margin: 3vh;
    text-decoration: none;
}

.navbar img{
    background-color: white;
    height: 3.3vh;
    width: auto;
    
}

.buttons{
    background-color: white;
    margin-left: 1vh;

}