.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #a0b9dc;
  height: 40px;
  width: 180px;
  border-radius: 15px;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 1.5px solid transparent;
}

.image {
  width: 25px;
  height: 100%;
  padding-right: 0.6rem;
}

.calendar-box:hover {
  background-color: #cbebf8;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .calendar {
    height: 30px;
  }
}
