.landing {
  background-color: #d7ebd3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fjalla One";
}

.loadingDiv {
  background: white;
  width: 100%;
  height: 100vh;
}

.content {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7vw;
  padding-right: 7vw;
}

.calendar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: right;
}

.statistics {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.error {
  width: 100%;
  height: 100%;
  font-family: "Libre Franklin";
  text-align: center;
  background-color: white;
  padding-top: 50vh;
}
@media screen and (max-width: 800px) {
  .content {
    width: 90vw;
  }
  .statistics {
    justify-content: center;
  }
  .logsRow {
    flex-direction: column;
    align-items: center;
  }
}
