.google-container {
  width: 300px;
  height: 350px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: 2rem 0 0 1rem;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: hidden;
}

.google-title {
  font-family: "Fjalla One";
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .google-container {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .google-container {
    width: 250px;
    height: 270px;
  }
}
