.cancel-modal-header {
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancel-modal-heading {
  width: 200px;
  margin: 0;
  padding: 30px 10px 10px 0;
  color: #2c3e50;
  font-family: "Fjalla One";
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}
.cancel-modal-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancel-modal-paragraph {
  width: 200px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
  font-family: "Libre Franklin";
}

.cancel-modal-actions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.cancel-actions-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cancel-modal-yes {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 50px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: 1px solid black;
  color: white;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.cancel-modal-yes:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancel-modal-no {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 50px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: 1px solid black;
  color: black;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancel-modal-no:hover {
  box-shadow: 0 10px 20px -10px rgba(211, 211, 211, 0.6);
  transform: translateY(-5px);
  background: #d3d3d3;
}
