.container {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: 2rem 1rem 0 0;
}

.title {
  font-size: 1.5rem;
}

.logs {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: none;
  background: none;
}

.logs:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logName {
  font-family: "Fjalla One";
  font-size: 15px;
}

.arrow {
  border: none;
  background: none;
  width: 23px;
}

.viewMore {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-top: 2vh;
  text-decoration: none;
  font-family: "Libre Franklin";
  font-size: 15px;
  font-style: italic;
}

.log-view-more:hover {
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .container {
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 250px;
    height: 270px;
  }
}
