.container {
  background: url("./assets/login-background.png") no-repeat center center fixed;
  background-color: rgb(215, 235, 211);

  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.card {
  display: flex;
  border-radius: 1.4rem;
  border: 0.2vh lightgrey solid;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 35vh;
  min-height: 30rem;
  min-width: 20rem;
  justify-content: center;
  background-color: white;
  padding-top: 3vh;
  padding-right: 3.5vh;
  padding-bottom: 3vh;
  padding-left: 3.5vh;
  font-size: 17px;
}

.forgot {
  align-self: end;
  margin-right: 10px;
  margin-bottom: 1.5vh;
  text-decoration: none;
  font-size: 1.8vh;
  color: rgb(15, 15, 134);
}

.forgot:hover {
  color: rgb(160, 185, 220);
}

.logo {
  width: auto;
  height: 20vh;
  margin-bottom: 4.4vh;
}
