*{
}
.login-page{
    background: url("./assets/login-background.png") no-repeat center center fixed;
    background-color: rgb(215, 235, 211);

    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login-card {
    display: flex;
    border-radius: 1.4rem;
    border: 1.5px lightgrey solid;
    flex-direction: column;
    align-items: center;
    height:600px;
    width:350px;
    justify-content: center;
    background-color: white;
    padding-top: 30px;
    padding-right: 34px;
    padding-bottom: 30px;
    padding-left: 34px;
    font-size: 17px;
}

.forgot {
    align-self: end;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(15, 15, 134);
}

#login-logo{
    width: auto;
    height: 200px;
    margin-bottom: 70px;
}
