.container {
  background: url("./assets/login-background.png") no-repeat center center fixed;
  background-color: rgb(215, 235, 211);
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow: scroll;
}

.card {
  width: 50vh;
  min-height: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.4rem;
  border: 1.4px lightgrey solid;
  justify-content: center;
  background-color: white;
  padding: 3vh 3.5vh;
  font-size: 1.1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  width: 31vh;
  min-width: 180px;
  color: red;
  text-align: center;
  font-family: "Libre Franklin";
  font-size: 0.8rem;
  margin-top: 10px;
}

.forgot {
  align-self: end;
  margin: 10px 0 1.5vh 0;
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(15, 15, 134);
}

.forgot:hover {
  color: rgb(160, 185, 220);
}

.logo {
  width: auto;
  height: 20vh;
  min-height: 110px;
  margin: 25px 0;
}

@media screen and (max-width: 400px) {
  .container {
    justify-content: normal;
  }
}

@media screen and (max-height: 500px) {
  .container {
    align-items: normal;
    padding: 20px 0;
  }
  .error {
    font-size: 0.7rem;
  }
}
