.reset-button {
  display: block;
  margin-left: 20px;
  color: #afaeae;
  font-family: "Libre Franklin", sans-serif;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  border: 1px solid #a0b9dc;
  margin-top: 10px;
  color: black;
  background-color: #a0b9dc;
  font-weight: 100;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #d0ecfc;
  transition: all 0.3s ease;
  border: none;
}
