.container {
  background: #a0b9dc;
  border: none;
  border-radius: 18px;
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: start;
}

.notebook {
  width: 30px;
  margin-right: 10px;
}

.container:hover {
  background: #cbebf8;
  cursor: pointer;
}
