.session {
  width: 100%;
  font-family: "Fjalla One";
}

.header {
  height: 120px;
  background-color: white;
}

.sessionContent {
  width: 100%;
  min-height: calc(100vh - 50px - 5rem);
  background-color: #d7ebd3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}

.sessionButtons {
  width: calc(900px + 6rem);
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 120px);
  text-align: center;
  font-size: 1.2rem;
  font-family: "Libre Franklin";
}

.noLogs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 160px - 4rem);
  text-align: center;
  font-size: 1.2rem;
  font-family: "Libre Franklin";
}

@media screen and (max-width: 1000px) {
  .sessionContent {
    margin: auto;
    align-items: normal;
  }
}
