.graph {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #C4C4C4;
  width: 100%;
  height: 20vh;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
}