@import url("http://fonts.googleapis.com/css?family=Fjalla+One");

.navbar {
  display: flex;
  position: absolute;
  padding: 5vh 2vh 3vh 1vh;
  width: 100%;
}

.logo {
  height: 12vh;
  width: auto;
}

.title {
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6vh;
  display: flex;
  letter-spacing: 0.01em;

  color: #000000;
  margin-left: 6vh;
}

.push {
  margin-left: auto;
}

.first {
  transform: translate(0%, -50%);
  padding-left: 5vh;
}

.icon {
  transform: translate(33%, 30%);
  width: 4vh;
  height: 4vh;
  stroke: black;
  -webkit-transition: stroke 0.3s;
  -moz-transition: stroke 0.3s;
  -ms-transition: stroke 0.3s;
  -o-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.icon:hover {
  stroke: rgb(203, 235, 248);
}

.nav {
  width: 6.5vh;
  height: 6.5vh;
  margin-right: 5vh;
}

.active {
  background-color: rgb(160, 185, 220);
  width: 6.5vh;
  height: 6.5vh;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
