.student-container {
  width: calc(616px + 6vw);
  height: 50vh;
  margin: 2rem;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
}

.student-title {
  padding: 1.5rem 0 0 1.5rem;
  font-family: "Fjalla One";
  font-size: 1.5rem;
}

.student {
  height: 18%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a0b9dc;
  border-radius: 8px;
  margin: 0 0 0.5rem 1.5rem;
}

.student-name {
  width: 20%;
  padding-left: 1rem;
  font-family: "Fjalla One";
  font-size: 1rem;
}

.icons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 1.5rem;
}

.icon {
  width: 30px;
}

.icon:hover {
  width: 28px;
  margin-left: 2px;
}

.button {
  background-color: #a0b9dc;
  border-style: none;
}

.button:hover {
  cursor: pointer;
}

.view-more-student {
  text-decoration: none;
  width: 100%;
  font-family: "Libre Franklin";
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-style: italic;
  padding-top: 6vh;
}

.view-more-student:hover {
  font-size: 13px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .student-container {
    width: calc(67vw + 2rem);
  }
  .view-more-student {
    padding-top: 2vh;
  }
}
