* {
  margin: 0px;
  padding: 0px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  height: calc(100vh - 7.2rem);
  background-color: #d7ecd3;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.elementButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 34px;
  padding: 5px 25px 5px 50px;
  margin: 2rem 1.5rem 0 1rem;
  background-size: 17px;
  background-position: 15%;
  background-color: #a0b9dc;

  border: 1px transparent;
  border-radius: 25px;
  font-family: "Libre Franklin", sans-serif;
  cursor: pointer;
}

.addImage {
  width: 15px;
  margin: 0 10px 0 -30px;
}

.elementButton:hover {
  background-color: #d0ecfc;
  transition: all 0.3s ease;
}

.viewMore {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  background: none;
  border: none;
  font-style: italic;
  font-size: 14px;
  color: blue;
  font-family: "Libre Franklin", sans-serif;
  cursor: pointer;
}

.viewMore:hover {
  text-decoration: underline;
}
.failureMessage {
  padding-top: 20%;
  margin: 0 25%;
  align-self: center;
  text-align: center;

  font-size: 0.9rem;
  font-family: "Libre Franklin";
  word-break: break-all;
}

.header {
  height: 7.2rem;
  background-color: #ffffff;
}

.searchBar {
  margin: 2rem 0 0 1.5rem;
  padding: 8px 150px 8px 20px;
  /* background: url("./assets/Search.svg") no-repeat right; */
  background-size: 17px;
  background-position: 97%;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  font-family: "Libre Franklin", sans-serif;
  color: black;
}

.topLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.whiteBackground {
  width: 1000px;
  height: 70vh;
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  border: 1px solid #c4c4c4;
  border-radius: 15px;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
.whiteBackground:hover {
  &::-webkit-scrollbar-thumb {
    background-color: gray;
  }
  &::-webkit-scrollbar {
    height: 12px;
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 5px 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 73px;
    width: 10px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@media screen and (max-width: 700px) {
  .searchBar {
    padding-right: 50px;
  }
  .whiteBackground {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .whiteBackground {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-height: 650px) {
  .whiteBackground {
    height: 60vh;
  }
}

@media screen and (max-height: 450px) {
  .whiteBackground {
    height: 50vh;
  }
}
