.loginBtn {
  width: 34vh;
  height: 5vh;
  border: none;
  color: black;
  font-size: 1.8vh;
  background-color: #a0b9dc;
  margin-top: 20px;
  border-radius: 1.6rem;
}

.loginBtn:hover {
  background-color: rgb(203, 235, 248);
  cursor: pointer;
}
