.login-btn {
  width: 34vh;
  height: 5vh;
  border: none;
  color: black;
  font-size: 1.8vh;
  background-color: #A0B9DC;
  margin-top: 20px;
  border-radius: 1.6rem;
}

.login-btn:hover {
  background-color: rgb(203,235,248);
  cursor: pointer;
}