.close {
  height: 0.5rem;
  margin: 0.8rem 1.5rem 0 0;
  align-self: end;
  background: none;
  border: none;
  color: #666666;
  cursor: pointer;
}

.header {
  overflow: hidden;
  background: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 200px;
  margin: 10px 0 15px 0;
  color: #2c3e50;
  font-family: "Fjalla One";
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paragraph {
  width: 220px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
  font-family: "Libre Franklin";
}

.actions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 20px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.yesButton {
  width: 35%;
  height: 35px;
  margin: 0;
  padding: 9px 20px;
  background: #a0b9dc;
  border: 2px solid #a0b9dc;
  border-radius: 25px;
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.25s ease;
  cursor: pointer;
  text-align: center;
}

.yesButton:hover {
  background: #cbebf8;
  border: 2px solid #cbebf8;
}

.noButton {
  width: 35%;
  height: 35px;
  margin: 0;
  padding: 9px 20px;
  background: #fcfcfc;
  border: 2px solid #a0b9dc;
  border-radius: 25px;
  color: #2c3e50;
  font-size: 0.8rem;
  font-weight: 500;

  transition: all 0.25s ease;
  cursor: pointer;
}

.noButton:hover {
  border: 2px solid #cbebf8;
}

.submit {
  font-family: "Libre Franklin";
  font-size: 0.9rem;
  width: 70%;
  text-align: center;
  padding-top: 2rem;
}

.submitted {
  font-family: "Libre Franklin";
  height: 100px;
  font-size: 0.9rem;
  width: 80%;
  text-align: center;
  overflow-y: auto;
  padding-top: 20px;
}
/* 
.yesButton {
  cursor: pointer;
  font-weight: 500;
  padding: 11px 50px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: 1px solid black;
  color: black;
  background: #a0b9dc;
  transition: all 0.25s ease;
}

.yesButton:hover {
  box-shadow: 0 10px 20px -10px rgba(160, 185, 220, 0.6);
  transform: translateY(-5px);
  background: #a0b9dc;
}

.noButton {
  margin: 0;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 50px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: 1px solid black;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.noButton:hover {
  box-shadow: 0 10px 20px -10px rgba(211, 211, 211, 0.6);
  transform: translateY(-5px);
  background: #d3d3d3;
} */
