/* hi*/
.header {
  width: calc(100% - 20vw);
  height: 50px;
  padding: 3rem 0 2rem 20vw;
  font-size: 2rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: top;
}
